<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HogeschoolPXL</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Layout.css">
    <link rel="stylesheet" href="~/css/stylesheet.css">
    <link rel="stylesheet" href="~/css/stylesheet2.css">
</head>
    <body>

        <header style="">
            <ul style="background-color: black; color: white; height: 100px; margin-top: 20px;list-style:none;padding-left:20px">
                <li style="float: left"><a style="display: block; padding-top:25px;font-size:200%">Hogeschool</a></li>
                <li style="float: left; padding-left: 10px"><a style="display:block"><img src="~/images/PXlLogo.png" width="100" /></a></li>
            </ul>
        </header>
        <nav>
            <ul style="padding-right:13%;border: solid #0084F1 12px; margin-left: 30px; width: 16%; background-color: black; border-radius: 20px">
                <li style="color: white; font-size: 150%;font-family:black_ops_oneregular;padding-bottom:5px;padding-top:15px;text-decoration:underline">Navigation</li>
                <li style="text-decoration:none;padding-bottom:3px;padding-top:3px"><a style="color: white; font-size: 120%;font-family:black_ops_oneregular" asp-controller="Home" asp-action="Index">Home</a></li>
                <li style="text-decoration:none;padding-bottom:3px;padding-top:3px"><a style="color: white; font-size: 120%; font-family: black_ops_oneregular" asp-controller="Student" asp-action="Index">Studenten</a></li>
                <li style="text-decoration:none;padding-bottom:3px;padding-top:3px"><a style="color: white; font-size: 120%; font-family: black_ops_oneregular" asp-controller="Handboek" asp-action="Index">Handboeken</a></li>
                <li style="text-decoration:none;padding-bottom:15px;padding-top:3px"><a style="color: white; font-size: 120%; font-family: black_ops_oneregular" asp-controller="Lector" asp-action="Index">Lectors</a></li>
            </ul>
        </nav>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>



        <footer style="">
            <ul style="background-color: black; color: white; height: 100px; margin-top: 20px; list-style: none; padding-right: 20px">
                <li style="float:right"><a style="display:block"><img src="~/images/PXlLogo.png" width="100" /></a></li>
                <li style="float:right;padding-right:10px"><a style="display: block; padding-top: 25px; font-size: 200%">Hogeschool</a></li>
            </ul>
        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </body>
</html>
