@page
@model HogeschoolPXL.TimeTrackModel
@{
}

<body id="TimeTrack">
    <p>6/10/2021: Begonnen met classes maken en views met Datacontext en simpel css opmaak</p>
    <p>17/10/2021: Appsettings, startup.cs databank maken met Connectionstrings,Seeddata, foreignkeys tussen tables</p>
    <p>2/11/2021: Foreignkeys tussen classes,seeddata(aanpassen)</p>
    <p>3/11/2021: detailpagina's</p>
    <p>4/11/2021: css-styling, migrations</p>
    <p>7/11/2021: opnieuw begonnen, probleem met database migration</p>
    <p>8/11/2021: Lector klasse gemaakt met view, controller en de css</p>
    <p>
        9/11/2021: Alle klasses aangemaakt met de foreign keys en migrations (dezelfde fout gehad zie 7/11/2021 maar nu opgelost)
        BELANGRIJK: fout was public int? VakLectorId { get; set; }
        Index pagina Student,Lector
    </p>
    <p>11/11/2021: Delete,Detail,Edit pagina voor: Handboek,Lector,Student</p>
    <p>13/11/2021: IdentityFramework toepassen: Views,AccountController,ViewModels</p>
    <p>20/11/2021: Edit functie geprobeerd maar niet opgelost</p>
    <p>21/11/2021: Model validation Handboek datum</p>
    <p>1/12/2021: Edit pagina van student maken om te zien hoe ik een Edit pagina kan maken (gelukt)</p>
    <p>2/12/2021: html aanpassing create pagina Lector, Student</p>
    <p>16/12/2021: vak: Index(bevat gekozen handboek), Details, Create, Delete pagina en create pagina bevat keuze voor handboek</p>
    <p>17/12/2021: inschrijving index pagina, Edit pagina Vak</p>
    <p>01/01/2022: implementatie rolemanager, aanpassen accountcontroller, login partial + styling</p>
    <p>03/01/2022: Register, accountcontroller, register view</p>
    <p>03/01/2022: Login accountcontroller, styling login, styling home page, styling register</p>
    <div id="ToDo">
        <ul>
            <li>Delete functie Handboek</li>
            <li>Cursus: enkel creatie als er 1 handboek bestaat</li>
            <li>Inschrijving: enkel toegelaten als er studenten zijn en een cursus</li>
            <li>Login</li>
        </ul>
    </div>
    <div id="Done">
        <ul>
            <li>- Roles</li>
            <li>- identity framework</li>
            <li>- seeddata identity</li>
            <li>- Seeddata AcademieJaar, Inschrijving</li>
            <li>- ModelValidation datum handboek</li>
            <li>- Detail,Index,Delete,Create pagina's werken allemaal voor Student,Lector,Handboek</li>
            <li>- Taghelper: LectorCard,StudentCard</li>
            <li>- Seeddata meerderheid klaar</li>
            <li>- Controllers werken</li>
            <li>- Overal CSS styling toegepast (kan op een betere manier maar door gebrek aan tijd)</li>
        </ul>
    </div>
</body>