@page
@model HogeschoolPXL.TimeTrackModel
@{
}
<body>
    <p>6/10/2021: Begonnen met classes maken en views met Datacontext en simpel css opmaak</p>
    <p>17/10/2021: Appsettings, startup.cs databank maken met Connectionstrings,Seeddata, foreignkeys tussen tables</p>
    <p>2/11/2021: Foreignkeys tussen classes,seeddata(aanpassen)</p>
    <p>3/11/2021: detailpagina's</p>
    <p>4/11/2021: css-styling, migrations</p>
    <p>7/11/2021: opnieuw begonnen, probleem met database migration</p>
    <p>8/11/2021: Lector klasse gemaakt met view, controller en de css</p>
</body>