@model HogeschoolPXL.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<hr />
<div style="margin:0 0 120px 0">
    <div>
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div style="float: left; margin-right: 20px">
                <label asp-for="RoleName" class="control-label"></label>
                <select asp-for="RoleName" class="form-control" asp-items="@ViewBag.Roles"></select>
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div style="float:left;margin-right:50px">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div style="float:left;margin-right:50px">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div style="float: left; margin-right: 20px">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div style="margin-bottom:50px">
                <input type="submit" value="Register" class="btn btn-primary" style="width:200px" />
            </div>
            <a asp-action="Register">Registreer gebruiker</a>
        </form>
    </div>
</div>
