@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top:-280px">
    <h1 class="display-4" style="float: left; margin-top: 380px;font-family:black_ops_oneregular">Welkom</h1>
    <img src="~/images/Panda.jpg"/>
</div>
